<mat-toolbar>
  <div class="view-btn-container" ng-click="chat.highlight=true">
    <button class="view-btn" mat-button  (click)="goToCustomers()" ng-class="chat.highlight?'highlight':''">{{'Customers' | translate }}</button>
    <button class="view-btn" mat-button (click)="goToBooks()">{{'Books' | translate }}</button>
  </div>
  <span class="example-spacer"></span>
    <button class="flag-icon flag-icon-eng" mat-button (click)="useLanguage('en')" (click)="languageSelected('en')"></button>
    <button class="flag-icon flag-icon-srb" mat-button (click)="useLanguage('sr')" (click)="languageSelected('sr')"></button>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{ 'About' | translate}}</button>
    <button mat-menu-item (click)="logOut()">{{'Log out' | translate}}</button>
  </mat-menu>
</mat-toolbar>
