.example-card {
  max-width: 400px;
}

.mat-form-field {
  width: 100%;
}

.mat-button, .mat-card-title {
  width: 100%;
}

.mat-card-actions button:first-child {
  background-color: #2196f3;
  color:white ;
  width: 30%;
}
