
.example-card-two {
  width: 300px;
}
.example-card {
  width: 75%;
  margin: auto;
}

.mat-card-content span {
  font-size: 16px;
}


.grid {
  grid-gap: 20px;
  padding-left: 0px;
}
.mat-form-field {
  font-size: 14px;
  width: 30%;
}

.addBtn{
  position: fixed;
  top: 85%;
  right: 2%;
  width: 100px;
  height: 100px;
  border-radius: 90%;
  background-color: whitesmoke;
}

